[Desktop Entry]
Name=NeoSnap
Icon=/home/pi/Desktop/NeoSnap/icon.jpg
Exec=python /home/pi/Desktop/NeoSnap/main.py
Terminal=false
Type=Application
Categories=Utility;Application;